name: Run Crypto Snapshots

on:
  schedule:
    # 9:30 AM EST = 14:30 UTC
    - cron: "30 14 * * *"
  workflow_dispatch:  # allows manual run
jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        run: |
          python data.py

      - name: Upload output
        uses: actions/upload-artifact@v3
        with:
          name: snapshot-output
          path: output/
